{{#if data}}
<div class="mx-auto max-w-6xl px-4 sm:px-6 lg:px-8">
  <div class="sm:flex sm:items-center">
    <div class="sm:flex-auto">
      <h1 class="text-base font-semibold leading-6 text-gray-900">Restaurants</h1>
      <p class="mt-2 text-sm text-gray-700">A list of all the restaurants with their .</p>
    </div>
    <div class="mt-4 sm:ml-16 sm:mt-0 sm:flex-none">
        <a href="/api/restaurant/addRestaurant">
            <button type="button" 
            class="block rounded-md bg-indigo-600 px-3 py-2 text-center text-sm font-semibold 
            text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 add-restaurant">
                Add Restaurant</button>
        </a>
    </div>
  </div>
  <div class="mt-8 flow-root">
    <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
        <table class="min-w-full divide-y divide-gray-300">
          <thead>
            <tr>
              <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-0">Restaurant Id</th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Name</th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Cuisine</th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Borough</th>
              <th scope="col" class="relative py-3.5 pl-3 pr-4 sm:pr-0">
                <span class="sr-only">Edit</span>
              </th>
            </tr>
          </thead>
          <tbody class="divide-y divide-gray-200">
            {{#each data}}
                <tr>
                    <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-0">{{this.restaurant_id}}</td>
                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">{{this.name}}</td>
                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">{{this.cuisine}}</td>
                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">{{this.borough}}</td>
                    <td class="relative whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-0">
                        <a class="text-indigo-600 hover:text-indigo-900" onclick="editRestaurant('{{this.restaurant_id}}', '{{this.name}}', '{{this.cuisine}}', '{{this.borough}}')">Edit</a>
                    </td>
                </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<script>
        function editRestaurant(restaurantId, name, cuisine, borough) {
            console.log("data loading")
            const data = {
            restaurant_id: restaurantId,
            name: name,
            cuisine: cuisine,
            borough: borough
            };
            fetch('/api/restaurant/editRestaurant', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
            })
        }
    </script>
{{/if}}
